:root {
  --primary-color: #2d96ff;
  --secondary-color: #856404;
  --bg-color: #e1e5e9;
  --bg-hover: #f4f3f3;
  --bg-color--secondary: #fff3cd;
  --fallback-text: #999;
  --error-main: #dc3545;
  --error-secondary: #f8d7da;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}

.app__main {
  flex: 1;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.app__section {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
